@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Great+Vibes&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 229, 235);
}

h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-style: normal;
    color: #edbd0c;
    font-size: 3rem;
}

.acordionCont {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    gap: 20px;

    font-family: "Roboto", serif;
}

.acordionItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 5px;
    /* text-align: center; */
    padding: 20px;

    box-shadow: 7px 6px 26px 4px rgba(183, 183, 183, 0.75);
    -webkit-box-shadow: 7px 6px 26px 4px rgba(183, 183, 183, 0.75);
    -moz-box-shadow: 7px 6px 26px 4px rgba(183, 183, 183, 0.75);
}


.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

i {
    cursor: pointer;
}

.signBorder {
    border: 1px solid #edbd0c;
}


.detail {
    display: none;
    flex-direction: column;
}

.line {
    border: 1px solid #ccc;
    margin: 0px 0px 20px 0;
}

.showDetail {
    display: flex !important;
}

/* media queries */

@media (max-width: 767.98px) {

    .acordionCont {
        width: 95%;
    }
}